:root {
	--color: rgb(48, 48, 48);
	--background-color: white;
	--navbar-color: rgb(0, 58, 97);
	--navbar-background-color: rgb(117, 181, 253);
	--border-color: rgba(0, 0, 0, 0.164);
	--award-color: #fff77a;
	--award-background-color: rgb(245, 173, 17);
	--hint-color: rgb(238, 21, 21);
}

* {
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	background-color: var(--background-color);
}

body.dark {
	--color: white;
	--background-color: rgb(48, 48, 48);
	--navbar-color: rgb(117, 181, 253);
	--navbar-background-color: rgb(0, 58, 97);
	--border-color: rgba(255, 255, 255, 0.514);
	--award-color: rgb(245, 173, 17);
	--award-background-color: #fff77a;
	--hint-color: rgb(235, 66, 66);
}

body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 0.1px solid slategrey;
	border-radius: 5px;
}

/* To Top */
.to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 15px;
	transition: color 0.7s ease;
	cursor: pointer;
	z-index: 1000;
	color: rgba(211, 211, 211, 0.432);
}

.to-top:hover {
	color: var(--color);
}

/* Toggle Theme */
.toggle-theme {
	position: absolute;
	left: 2%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.moon,
.sun {
	color: rgb(255, 186, 37);
	position: absolute;
	margin: auto;
	z-index: 50;
}

.moon {
	/* display: none; */
	opacity: 0;
	transform: rotateZ(180deg);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.sun {
	/* display: block; */
	opacity: 1;
	transform: rotateZ(180deg);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.moon.active {
	/* display: block; */
	opacity: 1;
	transform: rotateZ(0deg);
}

.sun.active {
	/* display: none; */
	opacity: 0;
	transform: rotateZ(0deg);
}

/* Nav Bar */
.menu-icon {
	position: absolute;
	top: 32px;
	right: 20px;
	opacity: 0;
	color: var(--color);
	z-index: 55;
}

.nav-bar {
	border-bottom: 1px solid var(--border-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 95px;
	transition: height 0.5s ease;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background-color);
	z-index: 50;
}

.nav-overlay {
	display: none;
}

.nav-links ul {
	width: 100%;
	height: auto;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	z-index: 50;
}

.lk a {
	background-color: var(--navbar-background-color);
	color: var(--navbar-color);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 2rem;
	margin: 0 5px;
	display: inline-block;
	letter-spacing: 1.7px;
	transition: background 0.5s ease;
	z-index: 50;
}

.lk a::after {
	background-color: var(--navbar-background-color);
	position: relative;
}

.title {
	width: auto;
	text-align: center;
}

.title::after {
	background-color: var(--navbar-color);
	position: absolute;
}

.title .fa-info-circle {
	opacity: 0;
	transition: 0.7s ease;
}

.title:hover .fa-info-circle {
	opacity: 1;
}

.title:hover::after {
	width: 200px;
}

.lk a::after,
.title::after {
	content: '';
	display: block;
	left: 50%;
	transform: translateX(-50%);
	width: 0px;
	height: 5px;
	transition: width 0.3s ease-in-out;
}

.lk:hover a {
	color: var(--navbar-background-color);
	background-color: var(--navbar-color);
}

.liactive a {
	background-color: var(--navbar-color);
	color: var(--navbar-background-color);
}

.lifin a {
	color: var(--award-background-color);
	background-color: var(--award-color);
}

.lifin .lk:hover a {
	color: var(--award-background-color);
	background-color: var(--award-background-color);
}
.lifin a::after {
	background-color: var(--award-background-color);
}

.lifin a::after,
.liactive a::after,
.lk a:hover::after {
	width: 50px;
}

/* Banner */
.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 7rem;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: relative;
}

.banner input {
	margin-top: 15px;
	font-size: 1.5rem;
	max-width: 130px;
}

.banner .avatar::after {
	content: 'Admin';
	position: absolute;
	font-size: 2rem;
	text-align: center;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .avatar:hover::after {
	opacity: 0.7;
}

/* Content */
.main {
	width: 100%;
	/* margin-top: calc(17vw + 5vh); */
}

input[class='answer'] {
	min-width: 170px;
	height: 50px;
	font-size: 1.5rem;
}
button[class='submit-btn'] {
	margin: 5px;
	font-size: 1.5rem;
}

section {
	max-width: 100%;
	padding: 3%;
	margin: 2% 3%;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	align-items: center;
	color: var(--color);
	/* border: 5px dashed var(--background-color);
	border-top: none;
	transition: border-color 1.2s ease; */
}
/* section:hover {
	border-color: var(--navbar-color);
	border-top: none;
} */

/* section::before,
section::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity: 0.5;
	padding: 2%;
} */

/* Animated Border */
section {
	--borderWidth: 8px;
	background-color: var(--background-color);
	position: relative;
	border-radius: var(--borderWidth);
}
section.finish::after,
section:hover::after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82
	);
	border-radius: calc(2 * var(--borderWidth));
	background-size: 300% 300%;
	animation: animatedgradient 3s ease alternate infinite;
	z-index: -1;
}
/*
section.finish::after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(
		60deg,
		#DC9202,
		#ffb404,
		#fcc201,
		#fff77A,
	);
	border-radius: calc(2 * var(--borderWidth));
	background-size: 300% 300%;
	animation: animatedgradient 3s ease alternate infinite;
	z-index: -1;
}
*/
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.locked {
	background-color: grey;
	min-height: 100px;
	opacity: 1;
}
.locked .content,
.locked .title {
	display: none;
}

section .title,
section .content {
	margin: 0 5vw;
}

section .wrong {
	color: red;
	display: none;
}
section .wrong.active {
	display: inline;
}

section .correct {
	color: greenyellow;
	display: none;
}
section .correct.active {
	display: inline;
}

section .increase {
	color: var(--color);
	display: none;
}
section .increase.active {
	display: inline;
}

section .decrease {
	color: var(--color);
	display: none;
}
section .decrease.active {
	display: inline;
}

.lk .passed,
section .passed {
	display: none;
}
.lk.finish .passed,
section.finish .passed {
	display: inline;
	color: var(--award-background-color);
}

.answer-area {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-flow: row-reverse nowrap;
}

.answer-area input {
	margin: 0 7px;
	width: 100px;
}

.whole-answerarea {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.whole-answerarea .answer-area {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
	margin: 7px;
	/* flex: 100%; */
}

table,
th,
td {
	border: 1px solid var(--color);
	border-collapse: collapse;
	text-align: center;
}

#tb2 {
	width: 30%;
}
#tb2 th:nth-child(even),
#tb2 td:nth-child(even) {
	background-color: rgba(150, 212, 212, 0.4);
}

#No1-hint1 {
	width: 50%;
}

/* Info Edit */
.info-btn,
.hint-btn,
.challenge-btn {
	transform: rotateZ(-90deg);
	cursor: pointer;
	color: var(--color);
}

.hint-btn.active {
	display: none;
}
.info-btn.active,
.challenge-btn.active {
	transform: rotateZ(0deg);
}

.info,
.challenge-content {
	display: none;
}
.info.active,
.challenge-content.active {
	display: block;
}

/* Footer */
footer {
	font-size: 1.7rem;
	text-align: center;
	color: var(--color);
}

#No3 .answer-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#box1,
#box5 {
	background: url('../../Library/number1.png') center;
	background-size: contain;
}
#box2,
#box6 {
	background: url('../../Library/number2.png') center;
	background-size: contain;
}
#box3,
#box7 {
	background: url('../../Library/number3.png') center;
	background-size: contain;
}

#box8 {
	background: url('../../Library/number4.png') center;
	background-size: contain;
}

body.dark #box1,
body.dark #box5 {
	background: url('../../Library/number1d.png') center;
	background-size: contain;
}
body.dark #box2,
body.dark #box6 {
	background: url('../../Library/number2d.png') center;
	background-size: contain;
}
body.dark #box3,
body.dark #box7 {
	background: url('../../Library/number3d.png') center;
	background-size: contain;
}

body.dark #box8 {
	background: url('../../Library/number4d.png') center;
	background-size: contain;
}

.allBox,
.allItem {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.submit-btn {
	text-align: center;
	padding: 10px;
	width: auto;
	height: auto;
	border-radius: 15px;
	cursor: pointer;
	background-color: var(--color);
	color: var(--background-color);
}

.itemBox,
.box {
	float: left;
	width: 170px;
	height: 100px;
	border: 1px solid var(--color);
	margin: 5px;
	border-radius: 27px;
}

.box-answer {
	text-align: center;
}

.item {
	border-radius: 27px;
	margin: auto;
	width: 170px;
	height: 100px;
	background-clip: border-box;
}
#item1 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg/230px-Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg.png')
		center;
	background-size: inherit inherit;
}
#item7,
#item2 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/225px-Flag_of_the_People%27s_Republic_of_China.svg.png')
		top left;
	background-size: inherit inherit;
}
#item3 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Laos.svg/225px-Flag_of_Laos.svg.png')
		center;
	background-size: inherit inherit;
}
#item4 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/235px-Flag_of_Cambodia.svg.png')
		center;
	background-size: inherit inherit;
}
#item6,
#item5 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_Thailand.svg/1280px-Flag_of_Thailand.svg.png')
		center;
	background-size: cover;
}

#item8 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Flag_of_Myanmar.svg/225px-Flag_of_Myanmar.svg.png')
		center;
	background-size: inherit inherit;
}
#item9 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Flag_of_Bhutan.svg/225px-Flag_of_Bhutan.svg.png')
		center;
	background-size: inherit auto;
}
#item10 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/250px-Flag_of_Bangladesh.svg.png')
		center;
	background-size: inherit auto;
}
#item11 {
	background: no-repeat
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_India.svg/225px-Flag_of_India.svg.png')
		center;
	background-size: inherit auto;
}

.al {
	border: none;
	width: auto;
}

/* Media Queries */
@media (max-width: 550px) {
	section {
		margin: 40px 3%;
	}
}

@media (max-width: 820px) {
	.nav-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--color);
		opacity: 0.5;
		z-index: 10;
	}

	.nav-bar.active .nav-overlay {
		display: block;
	}
	.nav-bar ul {
		position: absolute;
		flex-flow: column wrap;
		top: -500px;
		transition: top 0.5s ease;
		opacity: 0;
	}
	.nav-bar.active ul {
		top: 5px;
		left: 0;
		right: 0;
		opacity: 1;
	}

	.nav-bar.active {
		height: 417px;
	}

	.lk a {
		width: 100%;
		padding: 1rem 30vw;
	}

	.menu-icon {
		cursor: pointer;
		z-index: 100;
		position: fixed;
		margin: auto;
	}

	#menu-bar1 {
		opacity: 1;
		transition: opacity 0.3s ease, transform 0.3s ease;
	}
	#menu-bar1.active {
		opacity: 0;
		transform: rotateZ(-180deg);
	}

	#menu-bar2 {
		transition: opacity 0.3s ease, transform 0.3s ease;
		opacity: 0;
	}
	#menu-bar2.active {
		transform: rotateZ(-180deg);
		opacity: 1;
	}

	#No1-hint1 {
		width: 100%;
	}
	#tb2 {
		width: 50%;
	}

	.itemBox,
	.box {
		width: 135px;
		height: 80px;
	}

	.item {
		width: 135px;
		height: 80px;
	}

	.banner {
		margin-top: clamp(150px, 170px, 20%);
	}
}
