:root {
	--color: rgb(48, 48, 48);
	--background-color: white;
	--navbar-color: rgb(0, 58, 97);
	--navbar-background-color: rgb(117, 181, 253);
	--border-color: rgba(0, 0, 0, 0.164);
	--award-color: #fff77a;
	--award-background-color: rgb(245, 173, 17);
	--hint-color: rgb(238, 21, 21);
	--totop: rgb(69, 151, 151);
	--lock-section: rgb(197, 197, 197);
	--link-color: rgb(64, 144, 197);
}

$SIZE1: 820px;
$SIZE2: 550px;

@mixin Responsive($size) {
	@media (max-width: $size) {
		@content;
	}
}

%flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	&::selection {
		background-color: var(--color);
		color: var(--background-color);
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		&-thumb {
			background-color: darkgrey;
			border-radius: 5px;
		}
	}
}
body {
	font-size: 62.5%;
	transition: all 0.3s ease;
	background-color: var(--background-color);

	&.dark {
		--color: white;
		--background-color: rgb(48, 48, 48);
		--navbar-color: rgb(117, 181, 253);
		--navbar-background-color: rgb(0, 58, 97);
		--border-color: rgba(255, 255, 255, 0.514);
		--award-color: rgb(245, 173, 17);
		--award-background-color: #fff77a;
		--hint-color: rgb(235, 66, 66);
		--totop: rgb(184, 255, 255);
		--lock-section: rgb(87, 87, 87);
		--link-color: rgb(154, 214, 253);
	}
}

.info {
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		color: var(--link-color);
	}
}
.bgm {
	@extend %flexCenter;
	background-color: var(--color);
	border-radius: 50%;
	position: fixed;
	top: 105px;
	left: 15px;
	width: 60px;
	height: 60px;
	z-index: 15;
	transition: all 0.2s ease;

	& > i {
		color: var(--award-color);
		cursor: pointer;
	}

	&-info {
		background-color: pink;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;

		font-size: 1.3rem;

		position: absolute;
		top: 0;
		left: 60px;

		width: 0;
		height: 60px;

		transform: scaleX(0);
		transition: all 0.3s ease;
		transition-delay: 0.1s;

		display: flex;
		align-items: center;
		justify-content: space-around;
		.track {
			@extend %flexCenter;
			cursor: pointer;
			color: white;
			background-color: #1098ad;
			position: relative;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			opacity: 0;
			transition: all 0.2s 0.2s ease;

			audio {
				display: none;
			}
		}
	}

	&:hover {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		.bgm-info {
			width: 250px;
			transform: scaleX(1);
			.track {
				opacity: 1;
				&:hover::after {
					background-color: var(--award-color);
					color: var(--color);
					text-align: center;

					content: attr(bgmName);
					position: absolute;
					bottom: -40px;

					width: 100px;
				}
			}
		}
	}
}
.to-top {
	display: none;
	position: fixed;
	bottom: 35px;
	right: 35px;
	z-index: 15;
	cursor: pointer;
	width: 50px;
	height: 50px;
	z-index: 10;

	a {
		text-decoration: none;
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color: var(--totop);
		}
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		bottom: 0;

		background-color: var(--totop);
		width: 31px;
		height: 5px;
		transition: all 0.5s ease;
	}
	&::after {
		left: 0;
		transform: rotateZ(-225deg);
	}
	&::before {
		right: 0;
		transform: rotateZ(225deg);
	}
	.content {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		padding: 0;
		margin: 0;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 15px;

		display: none;
		transition: all 0.5s ease;
	}

	&:hover {
		cursor: default;
		&::after,
		&::before {
			transform: rotateZ(0);
		}
		.content {
			display: block;
		}
	}
}
.toggle-theme {
	@extend %flexCenter;
	position: absolute;
	left: 2%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 100;
	.moon,
	.sun {
		color: rgb(255, 186, 37);
		position: absolute;
		margin: auto;
		z-index: 50;
	}
	.moon {
		opacity: 0;
		transform: rotateZ(180deg);
		transition: opacity 0.5s ease, transform 0.5s ease;
		&.active {
			opacity: 1;
			transform: rotateZ(0deg);
		}
	}
	.sun {
		opacity: 1;
		transform: rotateZ(180deg);
		transition: opacity 0.5s ease, transform 0.5s ease;
		&.active {
			opacity: 0;
			transform: rotateZ(0deg);
		}
	}
}

.wrong-cd,
.timer {
	color: var(--hint-color);
	font-size: 1.5em;
	display: none;
}

/* <-- Nav Bar */
.menu-icon {
	position: absolute;
	top: 32px;
	right: 20px;
	opacity: 0;
	color: var(--color);
	z-index: 55;
}
.nav-overlay {
	display: none;
}

.nav-bar {
	border-bottom: 1px solid var(--border-color);
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 95px;
	transition: height 0.5s ease;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.nav-links ul {
	@extend %flexCenter;
	list-style-type: none;
	width: 100%;
	height: auto;
	padding: 0;
	z-index: 50;
}

.lk a {
	background-color: var(--navbar-background-color);
	color: var(--navbar-color);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 2rem;
	margin: 0 5px;
	display: inline-block;
	letter-spacing: 1.7px;
	transition: background 0.5s ease;
	z-index: 50;
}
.lk a::after {
	background-color: var(--navbar-background-color);
	position: relative;
}

.title {
	position: relative;
	width: auto;
	text-align: center;
}
.title::after {
	background-color: var(--navbar-color);
	position: absolute;
}
.title:hover::after {
	width: 100%;
}

.title .fa-info-circle {
	opacity: 0;
	transition: 0.7s ease;
}
.title:hover .fa-info-circle {
	opacity: 1;
}

.lk a::after,
.title::after {
	content: '';
	display: block;
	left: 50%;
	transform: translateX(-50%);
	width: 0px;
	height: 5px;
	transition: width 0.3s ease-in-out;
}

.lk:hover a {
	color: var(--navbar-background-color);
	background-color: var(--navbar-color);
}

.liactive a {
	background-color: var(--navbar-color);
	color: var(--navbar-background-color);
}
.lifin a {
	color: var(--award-background-color);
	background-color: var(--award-color);
}
.lilocked a,
.lihidden a {
	background-color: rgb(71, 71, 71);
	color: rgb(107, 107, 107);
}

.lilocked:hover a {
	background-color: grey;
	color: white;
}
.lilocked:hover a::after {
	display: none;
}

.lifin .lk:hover a {
	color: var(--award-background-color);
	background-color: var(--award-background-color);
}
.lifin a::after {
	background-color: var(--award-background-color);
}

.lifin a::after,
.liactive a::after,
.lk a:hover::after {
	width: 50px;
}
.lihidden a::after {
	width: 0;
}
/* Nav Bar --> */

.banner {
	@extend %flexCenter;
	flex-direction: column;
	position: relative;
	margin-top: 8rem;
	user-select: none;

	input {
		margin-top: 15px;
		font-size: 1.5rem;
		max-width: 220px;
	}
	.avatar {
		@extend %flexCenter;
		position: relative;
		margin: auto;
		width: 200px;
		height: 200px;

		&::after {
			@extend %flexCenter;
			content: attr(data-userID);
			position: absolute;
			font-size: 2rem;
			text-align: center;
			background-color: black;
			color: white;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: opacity 0.5s ease;
		}
		&:hover::after {
			opacity: 0.7;
		}
	}
}

/* <-- Content --> */
.main {
	width: 100%;
}

input {
	padding: 7px 10px;

	&[class='answer'] {
		min-width: 170px;
		height: 50px;
		font-size: 1.5rem;
	}
}
button[class='submit-btn'] {
	margin: 5px;
	font-size: 1.5rem;
}

section {
	max-width: 100%;
	padding: 3%;
	margin: 2% 3%;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	align-items: center;
	color: var(--color);
	.fa-eye-slash {
		margin-bottom: 10px;
		cursor: pointer;
		z-index: 10;
	}
}

/* <-- Animated Border */
section {
	--borderWidth: 8px;
	background-color: var(--background-color);
	position: relative;
	border-radius: var(--borderWidth);
	&.finish::after,
	&:hover::after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--borderWidth));
		left: calc(-1 * var(--borderWidth));
		height: calc(100% + var(--borderWidth) * 2);
		width: calc(100% + var(--borderWidth) * 2);
		background: linear-gradient(
			60deg,
			#f79533,
			#f37055,
			#ef4e7b,
			#a166ab,
			#5073b8,
			#1098ad,
			#07b39b,
			#6fba82
		);
		border-radius: calc(2 * var(--borderWidth));
		background-size: 300% 300%;
		animation: animatedgradient 2s ease alternate infinite;
		z-index: -1;
	}
}
/* Animated Border --> */

section.locked {
	background-color: var(--lock-section);
	min-height: 100px;
	opacity: 1;
}
section.locked > .fa-eye-slash {
	display: none;
}
section.locked .content,
section.locked .title {
	display: none;
}
section.locked .lock {
	display: block;
}
section .lock {
	display: none;
}

section {
	.title,
	.content {
		margin: 0 5vw;
	}

	.wrong,
	.increase,
	.decrease {
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}

	.wrong {
		color: red;
		display: none;
		&.active {
			display: inline;
		}
	}
	.correct {
		color: greenyellow;
		display: none;
		&.active {
			display: inline;
		}
	}
	.increase {
		color: var(--color);
		display: none;
		&.active {
			display: inline;
		}
	}
	.decrease {
		color: var(--color);
		display: none;
		&.active {
			display: inline;
		}
	}
}

.lk .passed,
section .passed {
	display: none;
}
.lk.finish .passed,
section.finish .passed {
	display: inline;
	color: var(--award-background-color);
}

section.finish ::selection {
	color: var(--award-color);
	background-color: var(--award-background-color);
}
section.finish .title {
	color: var(--award-background-color);
}
section.finish .title::after {
	background-color: var(--award-background-color);
	width: 100%;
}

section.hidden {
	height: 0;
	&:hover::after,
	&::after {
		all: unset;
	}

	* {
		display: none;
	}
}

.answer-area {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-flow: row-reverse nowrap;
	input {
		margin: 12px 7px;
		width: 100px;
	}
}

.whole-answerarea {
	@extend %flexCenter;
	flex-flow: row wrap;

	.answer-area {
		@extend %flexCenter;
		margin: 0 5px;
		flex: 1;
		flex-flow: row nowrap;

		p {
			width: 60px;
		}
	}
}

#No1-hint1 {
	width: 50%;
}

/* <-- Table --> */
table,
th,
td {
	border: 1px solid var(--color);
	border-collapse: collapse;
	text-align: center;
}

#tb2 {
	width: 30%;
}
#tb2 th:nth-child(even),
#tb2 td:nth-child(even) {
	background-color: rgba(150, 212, 212, 0.4);
}

/* <-- Info Edit --> */
.info-btn,
.hint-btn,
.challenge-btn {
	transform: rotateZ(-90deg);
	cursor: pointer;
	color: var(--color);
}

.hint-btn.active {
	display: none;
}
.info-btn.active,
.challenge-btn.active {
	transform: rotateZ(0deg);
}

.info,
.challenge-content {
	display: none;
}
.info.active,
.challenge-content.active {
	display: block;
}

#No3 .answer-area {
	@extend %flexCenter;
	flex-direction: column;
}

#box1,
#box6 {
	background: url('../../Library/number1.png') center;
	background-size: contain;
}
#box2,
#box7 {
	background: url('../../Library/number2.png') center;
	background-size: contain;
}
#box3,
#box8 {
	background: url('../../Library/number3.png') center;
	background-size: contain;
}
#box4,
#box9 {
	background: url('../../Library/number4.png') center;
	background-size: contain;
}
#box5,
#box10 {
	background: url('../../Library/number5.png') center;
	background-size: contain;
}

body.dark #box1,
body.dark #box6 {
	background: url('../../Library/number1d.png') center;
	background-size: contain;
}
body.dark #box2,
body.dark #box7 {
	background: url('../../Library/number2d.png') center;
	background-size: contain;
}
body.dark #box3,
body.dark #box8 {
	background: url('../../Library/number3d.png') center;
	background-size: contain;
}
body.dark #box4,
body.dark #box9 {
	background: url('../../Library/number4d.png') center;
	background-size: contain;
}
body.dark #box5,
body.dark #box10 {
	background: url('../../Library/number5d.png') center;
	background-size: contain;
}

.status-log {
	@extend %flexCenter;
	flex-direction: column;

	& > div {
		display: flex;
		margin: 7px 0;
		align-items: center;
		& > i + p {
			margin: 0 7px;
		}
	}
}

.submit-btn {
	text-align: center;
	padding: 10px;
	width: auto;
	height: auto;
	border-radius: 15px;
	cursor: pointer;
	background-color: var(--color);
	color: var(--background-color);
}

.box-answer {
	text-align: center;
}

.allBox,
.allItem {
	@extend %flexCenter;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
}

.itemBox,
.box {
	float: left;
	width: 170px;
	height: 100px;
	border: 1px solid var(--color);
	margin: 5px;
	border-radius: 27px;
}

.item {
	border-radius: 27px;
	margin: auto;
	width: 170px;
	height: 100px;
	background-clip: border-box;
}
#drag {
	&1 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg/230px-Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg.png')
			center;
		background-size: inherit inherit;
	}
	&7,
	&2 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/225px-Flag_of_the_People%27s_Republic_of_China.svg.png')
			top left;
		background-size: inherit inherit;
	}
	&3 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Laos.svg/225px-Flag_of_Laos.svg.png')
			center;
		background-size: inherit inherit;
	}
	&4 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/235px-Flag_of_Cambodia.svg.png')
			center;
		background-size: inherit inherit;
	}
	&6,
	&5 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_Thailand.svg/1280px-Flag_of_Thailand.svg.png')
			center;
		background-size: cover;
	}
	&8 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Flag_of_Myanmar.svg/225px-Flag_of_Myanmar.svg.png')
			center;
		background-size: inherit inherit;
	}
	&9 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Flag_of_Bhutan.svg/225px-Flag_of_Bhutan.svg.png')
			center;
		background-size: inherit auto;
	}
	&10 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/250px-Flag_of_Bangladesh.svg.png')
			center;
		background-size: inherit auto;
	}
	&11 {
		background: no-repeat
			url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_India.svg/225px-Flag_of_India.svg.png')
			center;
		background-size: inherit auto;
	}

	&1:hover,
	&2:hover,
	&3:hover,
	&4:hover,
	&5:hover,
	&6:hover,
	&7:hover,
	&8:hover,
	&9:hover,
	&10:hover,
	&11:hover {
		transition: all 0.3s ease;
		background-size: 100% 100%;
	}
}

footer {
	font-size: 1.7rem;
	text-align: center;
	color: var(--color);
}

@media (max-width: 550px) {
	section {
		margin: 40px 3%;
	}
}
@media (max-width: 820px) {
	.nav-bar.active {
		height: 417px;
	}

	.nav-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: black;
		opacity: 0.85;
		z-index: 10;
	}
	.nav-bar.active .nav-overlay {
		display: block;
	}

	.nav-bar ul {
		position: absolute;
		flex-flow: column wrap;
		top: -500px;
		transition: top 0.5s ease;
		opacity: 0;
	}
	.nav-bar.active ul {
		top: 5px;
		left: 0;
		right: 0;
		opacity: 1;
	}

	.lk a {
		width: 100%;
		padding: 1rem 30vw;
	}

	.menu-icon {
		cursor: pointer;
		z-index: 100;
		position: fixed;
		margin: auto;
	}

	#menu-bar1 {
		transition: opacity 0.3s ease, transform 0.3s ease;
		opacity: 1;
	}
	#menu-bar1.active {
		transform: rotateZ(-180deg);
		opacity: 0;
	}

	#menu-bar2 {
		transition: opacity 0.3s ease, transform 0.3s ease;
		opacity: 0;
	}
	#menu-bar2.active {
		transform: rotateZ(-180deg);
		opacity: 1;
		color: white;
	}

	#No1-hint1 {
		width: 100%;
	}
	#tb2 {
		width: 50%;
	}

	.banner {
		margin-top: clamp(150px, 170px, 20%);
	}

	.itemBox,
	.box {
		width: 135px;
		height: 80px;
	}

	.item {
		width: 135px;
		height: 80px;
	}
}

@keyframes blink {
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
